.menu__abrir,
.menu__fechar {
    background: none;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    font-size: 1.6em;
    text-indent: -999em;
}

@media not all and (max-width: 600px) {
    .menu__abrir,
    .menu__fechar {
        display: none;
    }    
}

@media screen and (max-width: 600px) {
    .navbar__menu {
        background: white;
        padding: 1em;
        margin: 0;
        height: 100%;
        width: 90%;
        max-width: 320px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -90%;
        transition: left 0.3s ease-out;
    }
    
    .menu__ativo .navbar__menu {
        left: 0;
    }

    .navbar__lista {
        padding: 1em 0;
        width: 100%;
        color: white;
    }
    
    .menu__ativo:after {

        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,0.4);
    }

    .menu__abrir {
        height: 0;
        width:.75em;
        padding-top:.125em;
        border-top: .375em double #000;
        border-bottom: .125em solid #000;
    
        vertical-align: middle;
        margin: 0.5em;    
    }
    
    .menu__fechar {
        position: relative;
        height: 1em;
        width: 1em;
    }

    .menu__fechar:before {
        content: '\00D7';
        position: absolute;
        top: 0;
        left: 0;
        text-indent: 0;
    }
}
