.footer {

    width: 100%;
    height: 200px;
    display: flex;
    background: #00261C;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer__endereco {

    width: 33%;
    font-size: 0.8rem;
    padding-left: 2rem;
}

.footer__endereco___endereco {

    color: white;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.footer__endereco___copy {

    color: gray21;
}

.footer__logo {

    background: url(../../Imagens/Logo-hotel-rodape.png) no-repeat center / contain;
    width: 33%;
    height: 100px;
    flex-grow: 1;
}

.footer__contato {

    width: 33%;
}

.footer__contato___titulo {

    font-size: 1.4rem;
    color: white;
    letter-spacing: 0.15rem;
    padding-bottom: 1rem;
    text-align: center;
}

.footer__contato___numeros {

    display: flex;
    justify-content: center;
    letter-spacing: 0.1rem;
    color: wheat;
}

@media screen and (max-width: 960px)   {

    .footer {

        flex-direction: row-reverse;
        padding: 1rem 0;
        height: auto;
    }
    
    .footer__endereco, .footer__contato {

        width: 50%;
        padding: 0 1rem;
    }

    .footer__logo {

        width: 100%;
        margin-top: 1rem;
    }

}

@media screen and (max-width: 699px) {

    .footer {

        flex-direction: column-reverse;
        align-items: center;
    }
    
    .footer__contato {

        margin: 2rem 0;
        width: 100%;
        order: 1;
    }

    .footer__endereco {

        text-align: justify;
        width: 80%;
        margin-bottom: 1rem;
    }

    .footer__endereco___copy {

        margin-bottom: 0.6rem;
    }

    .footer__logo {

        margin-top: 0;
    }

}